.body {
    background-color: lch(15% 5 260);
    height: auto;
    padding: 0;
    width: 100%;
    color: whitesmoke;
  }
  .parent-box{
    margin-top: 1%;
    padding-top: 1%;
    margin-left: 15%;
    width: 60%;
    
  
  border: 1px solid #444;
  }
  .feedback-button{
    margin-left: 45%;
    margin-bottom: 10%;
  }
  .hidden-box{
    position: absolute;
    top: 5%; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: lch(15% 5 260); 
    width: 70%;
    height: auto;
    padding: 20px;
    z-index: 999;
  }
  .buttons-pane{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .select-btn{
    margin-left: 2%;
  }
  .feedback-quiz{
    margin-top: 0;
    margin-left: 18%;
    margin-right: 18%;
    font-size: large;
    font-weight: bolder;
    color: whitesmoke;
}
.btn-close {
    color: white;
    padding: 1% 1%;
    margin-left: 95%;
    font-size: large;
    cursor: pointer; /* Adds a pointer cursor to indicate it's clickable */
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
  }
  
  .btn-close:hover {
    color: red; /* Changes color to red on hover (you can use any color you want) */
    transform: scale(1.2); /* Scales the button up slightly on hover */
  }
  
.cancel-button{
    margin-left: 12%;
    border-color: blueviolet;
}

.submit-button{
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 69%;
    background-color: rgb(122, 43, 226);
}
.range-text{
    margin-left: 9%;
    color: whitesmoke;
    margin-top: 2%;
}
.text-end{
    margin-left: 50%;
}  
.test-panel{
    margin-top: 1%;
    margin-left: 15%;
    width: 60%;
    margin-bottom: 5%;
    background: transparent;
    border: solid;
    padding: 2%;
}